.app
	.signin
		display: flex
		flex-direction: row
		justify-content: center
		align-items: center
		height: 760px
		
		form
			+full-height-width
			.input-container
				+full-height-width
				display: flex
				flex-direction: column
				justify-content: center
				align-items: center

				.input
					@extend .fn-input
					margin-bottom: 28px


				.button
					@extend .fn-button
					height: 42px
					width: 150px
					box-shadow: 0 2px 5px 0 rgba(0,0,0,.26)
					background-color: rgb(255, 189, 142)
					color: white
					font-weight: lighter
				.button:hover
					background-color: rgba(255, 189, 142, 0.85)
	.finance
		+full-height-width